.site-footer {
  background-color: $white;
  margin-top: 20px;
  padding: 10px;
  text-align: center;

  .footer-social-links {
    text-align: center;

    ul.social-links-list {
      li {
        margin-right: 25px;
        display: inline-block;

        a {
          color: $dark-gray;

          &.facebook:hover {
            color: #663399;
          }
          &.twitter:hover {
            color: #663399;
          }
          &.myspace:hover {
            color: #663399;
          }
          &.reddit:hover {
            color: #663399;
          }
          &.linkedin:hover {
            color: #663399;
          }
          &.tumblr:hover {
            color: #663399;
          }
          &.medium:hover {
            color: #663399;
          }
          &.quora:hover {
            color: #663399;
          }
        }
      }
    }
  }
}
