@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');
$site-font: 'Ubuntu', sans-serif;

$dark-gray: rgb(80, 80, 80);
$white: white;
$bg-gradient: linear-gradient(0deg, rgba(10,227,109,1) 0%, rgba(19,227,180,1) 50%, rgba(4,189,238,1) 100%);
$box-gradient: linear-gradient(90deg, rgba(10,227,109,1) 0%, rgba(19,227,180,1) 50%, rgba(4,189,238,1) 100%);
